*{
    margin:0px;
    padding:0px;
}
.backgroundImage{   
    background-image: url('./compute-ea4c57a4.png');
    background-size:cover;
    background-repeat:no-repeat;
    
    height:100vh;
}
.overlay{
    height:100%;
    width:100%;
    background-color: rgba(19, 18, 18, 0.3);
}
.header{
    position:relative;
    text-align: center;
    background-color:rgb(23, 39, 83);
    height:100px;
    width:1500px;
    left:200px;
    font-size:40px;
    color:rgb(88, 87, 87);
    border-radius:20px;
}
.headerTXT{
    position:relative;
    left:-20px;
}





.Education{
        position:relative;
        text-align:center;
        border-color:red;
        background-color:rgba(41, 41, 43, 0.877);
        border-style:solid;
        width:500px;
        height:500px;
        border-radius:0px;
        transition:0.3s; 
        color:rgb(250, 235, 215);
        top:50px;
        left:20px;
}
.Footer{
    position:relative;
    text-align:center;
    border-color:black; 
    background-color:rgb(18, 59, 112);
    border-style:solid;
    width:490px;
    height:200px;
    border-radius:0px;
    transition:0.3s; 
    color:rgb(250, 235, 215);
    top:155px;
    left:0px;
}

.EducationTxt{
    position:relative;
    top:10px;
    transition:0.5s;
    font-size: 90px;
    color:rgb(80, 79, 82);
}
.Education:focus .EducationTxt {
    transition:0.3s;
    top:-200px;
    
}
.Education:focus .Footer{
    transition:0.3s;
    top:290px;
}
.Education:focus .eduBlurb{
    transition:0.3s;
    color:rgb(240, 248, 255);
}

.eduBlurb{
    transition:0.3s;
    text-align:center;
    position:relative;
    top: 10px;
    color:rgba(240, 248, 255, 0);
    font-family:CodingFont;
    font-size:13px; 
}
@font-face {
    font-family: CodingFont;
    src: url(FiraCode-VariableFont_wght.ttf);
}








.FavoriteMusic{
    position:relative;
    border-style:solid;
    border-color:red;
    background-color:rgba(41, 41, 43, 0.877);
    text-align:center;
    width:500px;
    height:500px;
    left:520px;
    top:-200px;
    color:antiquewhite;
    border-radius:0px;
}

.YouTube{
    position:relative;
    border-style:solid;
    border-color:red;
    background-color:rgba(41, 41, 43, 0.877);
    color:antiquewhite;
    text-align:center;
    width:500px;
    height:500px;
    top:-960px;
    left:900px;
    border-radius:0px;
}