*{
    margin:0px;
    padding:0px;
}
@font-face {
    font-family: CodingFont;
    src: url(FiraCode-VariableFont_wght.ttf);
}


.backgroundImage{   
    background-image: url('./compute-ea4c57a4.png');
    background-size:contain;
    height:100%;
    width:100%;
    background-repeat:repeat-y;  
}
.header{
    position:relative;
    text-align: center;
    background-color:rgb(23, 39, 83);
    height:100px;
    width:70vw;
    left:250px;
    top:20px;
    font-size:40px;
    color:rgb(88, 87, 87);
    border-radius:20px;
}
.headerTXT{
    position:relative;
    left:-20px;
}
.Youtube{
    position:relative;
    height: 800px;
    border-style:solid;
    width: 96vw;
    border-color: rgb(73, 18, 2);
    top:100px;
    border-radius:20px;
    color:white;
    margin:0px auto;  
    top:130px;
}
.temp{
    height:500px;
    position:relative;
    border-color:red;
    border-style: solid;
    top:200px;
    
}







