.header{
    position:relative;
    text-align: center;
    background-color:black;
    height:130px;
    top:-40px;
    width:2000px;
    left:-30px;
   
}
.headerTXT{
    position:relative;
    top: 50px;
    text-align:center;
    color:white;
    font-size:60px;
}

.Education{
    position:relative;
    text-align:center;
    border-color:red;
    background-color:black;
    border-style:solid;
    width:500px;
    height:500px;
    border-radius:20px;
    transition:0.5s; 
}
.Education:active{
   
}

.FavoriteMusic{
    position:relative;
    border-style:solid;
    border-color:red;
    background-color:black;
    text-align:center;
    width:500px;
    height:500px;
    left:450px;
    top:-200px;
    border-radius:30px;
}
.FavoriteMusic:active{

}

.YouTube{
    position:relative;
    border-style:solid;
    border-color:red;
    text-align:center;
    width:500px;
    height:500px;
    top:-1000px;
    left:900px;
    border-radius:30px;
}